#!/bin/bash
{% if ansible_distribution == "Ubuntu" %}
   sudo apt install wget -y
{% elif ansible_distribution == "CentOS" %}
   sudo yum install wget -y
{% else %}
   echo 'Distribution pas prise en charge'
   echo {{ ansible_distribution }}
{% endif %}


sudo wget https://download.docker.com/linux/static/stable/x86_64/docker-20.10.9.tgz
sudo tar xzvf docker-20.10.9.tgz
sudo cp docker/* /usr/bin/
sudo dockerd &
sudo groupadd docker
sudo usermod -aG docker $USER

{% if ansible_distribution == "Ubuntu" %}
   sudo apt-get install python3-pip -y
{% elif ansible_distribution == "CentOS" %}
   sudo yum install epel-release -y
   sudo yum install https://dl.fedoraproject.org/pub/epel/epel-release-latest-$(rpm -E '%{rhel}').noarch.rpm
   sudo yum install python-pip -y
{% else %}
   echo 'Distribution pas prise en charge'
   echo {{ ansible_distribution }}
{% endif %}
sudo pip install docker-py
